<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="best" class="com.test03.Person">
		<constructor-arg name="name" value="사나이"></constructor-arg>
		<constructor-arg index="1" value="99"></constructor-arg>
	</bean>

	</beans>
