<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Jsp05_HelloServlet</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  
  <context-param> <!-- context(project) 전체에 영향을 미친다 -->
  	<param-name>name</param-name>
  	<param-value>수지</param-value>
  </context-param>
  
  <!-- HelloServlet Hello = new HelloServlet(); -->
  <servlet>
  	<servlet-name>Hello</servlet-name>
  	<servlet-class>com.hello.servlet.HelloServlet</servlet-class>
	<init-param>
		<param-name>sports</param-name> <!-- 해당 servlet 내부에서 실행~소멸 전까지 영향을 미친다 -->
		<param-value>무에타이</param-value>
	</init-param>
  </servlet>
  
  <!-- hello.do라는 요청이 들어오면, Hello라는 이름의 servlet에 연결 -->
  <servlet-mapping>
  <!-- 어떤 요청이 들어오면 어떤 것을 실행시킬 것인지 맵핑한다. -->
  	<servlet-name>Hello</servlet-name>
  	<url-pattern>/hello.do</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>