
@charset "euc-kr";
@import url("style02.css");
/* Font */
@font-face {
	font-family: 'Nanum Barun Gothic';
	font-style: normal;
	font-weight: 400;
	src: url(resources/font/NanumBarunGothic.woff) format('woff');	
}

@font-face {
	font-family: 'Nanum Barun Gothic';
	font-style: normal;
	font-weight: 700;
	src: url(resources/font/NanumBarunGothcBold.woff) format('woff');
	
}
	
/* Default */
html, body { width: 100%; height: 100% }
* { margin: 0; padding: 0; border: 0; vertical-align: baseline; }
html { font-size: 12px; color: #555; font-family: "Nanum Barun Gothic","돋움",sans-serif; }
ol, ul, li {list-style: none}
legend, hr, caption {font-size: 0; line-height: 0; visibility: hidden;}
a {vertical-align: top;}
a, a:link, a:visited {text-decoration: none; color: #555;}

/* Skip Navigation */
.dim {display: none; width: 100%; height: 100%; background: #000; position: absolute; left: 0; top: 0; z-index: 120; opacity: 0.4; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);}

/* common */
.blind {position: absoulte; left: -9999px; width: 0; height: 0; font-size: 0; line-height: 0; overflow: hidden; visibility: hidden;}
.floatleft {float: left !important;}
.floatright {float: right !important;}

/* 인풋박스 */
select, input, textarea {font-family: Arial, "돋움", Dotum;}
.notice ul li a {font-size: 12px; color: black; font-family: "돋움", Arial;}
.ipt02 {float: left; height: 22px; margin: 0; padding: 5px 0 5px 0; background: #fff; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);opacity: 0.8; font-size: 12px; color: #49321f; line-height: 22px; text-indent: 9px; letter-spacing: -1px;}


/* Layout 시작 */
#wrap {position: relative; min-width: 1000px;}
#header {position: absolute; left: 0; top: 0; width: 100%; min-height: 147px; z-index: 110;}
#header:after {content: ""; display: block; position: absolute; top: 103px; left: 0; width: 100%; height: 1px; background-color: #fff; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=20); opacity: 0.2; z-index: 10;}
.main #header {height: 147px; background: none;}
.headerWrap {position: relative; width: 1000px; margin: 0 auto; z-index: 10;}
.container {padding: 230px 0 50px 0;}
.container:after {content:""; clear: both; display: block;}
#content, #content2 {position: relative; width: 1000px; margin: 0 auto;}
#footer {position: absolute; width: 100%;}
.footerWrap {height: 100%; padding-bottom: 40px; background-color: #2e2f2e;}
.footerWrap > ul {position: relative; width: 1000px; margin: 0 auto; padding-top: 30px;}
.main #footer {width: 100%; height: 280px; margin-top: inherit; overflow: hidden;}

/* Top */
.logo {position: absolute; top: 33px; left: 50%; margin-left: -144px; width: 286px; height: 37px; z-index: 0;}
.logo a {display: inline-block; width: 100%; height: 100%; font-size: 0;}

/* Top_search */
.top_search {position: absolute; left: 160px; top: 39px; width: 220px; z-index: 0;}

/* HeaderWrap */
.headerWrap .sns {position: absolute; top: 44px; left: 0; width: 200px; z-index: 0;}
.headerWrap .sns a {float: left; display: inline-block; margin-right: 29px; background:url("resources/img/common.png") left top no-repeat; font-size: 0; color: #32271d;}
.headerWrap .sns .facebook {width: 9px; height: 19px; background-position: -20px -45px;}
.headerWrap .sns .twitter {width: 12px; height: 19px; background-position: -39px -45px;}
.headerWrap .sns .blog {width: 14px; height: 19px; background-position: -61px -45px; margin-right: 25px;}
.headerWrap .sns .instagram {width: 19px; height: 19px; background-position: -20px -104px; margin-right: 0;}
.headerWrap .sns img {vertical-align: top;}
.tnb {position: absolute; top: 43px; right: 0; z-index: 0;}
.tnb > li > a {float: left; display:inline-block; margin: 6px 0 0 12px; padding-bottom: 1px; background: url("resources/img/menu.png") left top no-repeat; font-size: 0; color: #32271d; overflow: hidden}
.tnb .tnb_login {width: 53px; height: 24px; margin: 0 0 0 8px; background-position: -300px -40px; border: 0 none; z-index: 0;}
.tnb .tnb_store {width: 42px; height: 13px; background-position: 0px 0px;}
.tnb .tnb_customer {width: 42px; height: 13px; background-position: 0px -40px;}
.tnb .tnb_foundation {position: absolute; right: -75px; top: -49px; width: 63px; height: 68px; background: url("resources/img/menu_point.png") no-repeat 0 0}
.tnb .tnb_recruit {width: 68px; height: 13px; background-position: 0px -120px;}

/* GNB 시작 */
.gnb_dim {position: absolute; left: 0; top: 0; width: 100%; height: 147px; background-color: #0d4633; z-index: 10;}
.gnb {position:absolute; left:0; top: 104px; width: 1000px; height: 43px; background: transparent; text-align: center; z-index: 50;}
.gnb > ul {display: inline-block; width: 100%;}
.gnb > ul > li {float: left; display: inline-block; width: 200px; text-align: center; vertical-align: top;}
.gnb .depth1 {display: inline-block; width: 100%; height: 18px; padding: 13px 0 11px 0; background: url(resources/img/gnb.png) left top no-repeat; font-size: 0;}
.gnb .depth1:first-child {margin-left: 0;}


/* 브랜드 스토리 */
.gnb .gnb_brand .depth1 {width: 90px; background-position: 0px 0px;}

/* 제품안내 */
.gnb .gnb_product .depth1 {width: 63px; background-position: 0px -50px;}

/* 새로워진 뚜레쥬르 */
.gnb .gnb_bread .depth1 {width: 120px; background-position: 0px -100px;}

/* 이벤트&멤버쉽 */
.gnb .gnb_event .depth1 {width: 97px; background-position: 0px -150px;}

/* 쇼핑몰&케이크배달 */
.gnb .gnb_shop .depth1 {width: 159px; background-position: 0px -200px;}
/* GNB 끝 */


/* footer */
.footerWrap > ul > li {clear: both;}
.footerWrap > ul > li + li {margin-top: 40px;}
.family_site {width: 100%; height: 67px; border-top: 1px solid #cac0b6; background-color: #f7f0da}
.family_site ul {overflow: hidden; margin: 0 auto; height: 66px;}
.family_site li {padding-top: 8px;}
.family_site a {float: left; margin: 0 5px; background: url("resources/img/common.png") left top no-repeat; font-size: 0;}

/* family_site icons */
.family_site .cj_foodville {width: 55px; height: 27px; margin-top: 5px; background-position: -590px -266px;}
.family_site .vips {width: 40px; height: 24px; margin-top: 10px; background-position: -650px -268px;}
.family_site .the_place {width: 47px; height: 23px; margin-top: 6px; background-position: -701px -333px;}
.family_site .cheil {width: 59px; height: 14px; margin-top: 10px; background-position: -761px -338px;}
.family_site .vips_burger {width: 38px; height: 24px; margin-top: 5px; background-position: -832px -332px;}
.family_site .seasons_table {width: 50px; height: 16px; margin-top: 10px; background-position: -745px -404px;}
.family_site .ngrill {width: 58px; height: 13px; margin-top: 13px; background-position: -670px -474px;}
.family_site .foodworld {width: 102px; height: 13px; margin-top: 13px; background-position: -1000px -671px;}
.family_site .ntower {width: 68px; height: 30px; margin-top: 6px; background-position: -1127px -665px;}
.family_site .busan_tower {width: 74px; height: 27px; margin-top: 12px; background-position: -860px -401px; position: relative; top: -7px;}
.footerWrap .sns {position: absolute; right: 0; top: 28px; z-index: 0;}
.footerWrap .sns a {display: inline-block; margin-left: 33px; background: url("resources/img/common.png") left top no-repeat; font-size: 0; color: #32271d;}
.footerWrap .sns .facebook {width: 9px; height: 19px; background-position: -20px -75px;}
.footerWrap .sns .twitter {width: 12px; height: 19px; background-position: -38px -75px;}
.footerWrap .sns .blog {width: 14px; height: 19px; background-position: -61px -76px;}
.fnb {display: inline-block; height: 13px; overflow: hidden;}
.fnb li {float: left; display: inline-block; padding-left: 24px; background: url(resources/img/common.png) -531px -60px no-repeat;}
.fnb li:first-child {padding-left: 0; background: none;}
.fnb a {display: inline-block;}
.fnb .company {width: 49px; height: 13px; background-position: -10px -68px;}
.fnb .recruit {width: 76px; height: 13px; background-position: -83px -68px;}
.fnb .clause {width: 49px; height: 13px; background-position: -182px -68px;}
.fnb .foundation {width: 50px; height: 13px; background-position: -255px -68px;}
.fnb .privacy {width: 100px; height: 13px; background-position: -328px -68px;}
.fnb .email {width: 113px; height: 13px; background-position: -451px -68px;}
.fnb .ethic {width: 75px; height: 13px; background-position: -586px -68px;}
.fnb .legal {width: 49px; height: 13px; background-position: -685px -68px;}
.fnb .sitemap2 {width: 50px; height: 13px; background-position: -756px -68px;}
.footerWrap .info {position: relative; width: auto; height: auto;}
.footerWrap .info img {vertical-align: top;}
.footerWrap .info span {display: block; margin-right: 3px; height: 20px; vertical-align: top;}
.footerWrap .info address {display: block; height: 20px; vertical-align: top;}
.footerWrap .info .business-name {float: left;}
.footerWrap .info .cs-center {float: left; margin-right: 19px;}
.footerWrap .info .certificate {float: left; margin-right: 15px;}
.footerWrap .info .certificate a {position: relative; top: -3px; margin-left: 6px; vertical-align: top;}
.footerWrap .info .hosting {color: #bfbbb3; font-weight: bold}
.footerWrap .info .bussiness-num {float: left;}
.footerWrap .info .ceo {float: left; margin-right: 19px;}
.footerWrap .info .manager {float: left; margin-right: 19px;}
.footerWrap .copyright {width: auto; height: auto; margin-top: 18px; background-image: none; color: #e4dfd5}

/* 팝업 */
#modelOverlay {position: fixed; top: 0; left: 0; display: none; width: 100%; height: 100%; margin: 0; padding: 0; background: #000; filter: alpha(opacity=50); opacity: 0.5; -maz-opacity: 0.5; z-index: 110;}
.lb_recomm {display: inline-block; width: 122px; height: 63px; font-size: 0; overflow: hidden;}
.txt_shap {display: inline-block; position: relative; padding: 0 20px; margin: 0 auto; width: auto; min-width: 44px; height: 16px; line-height: 18px; font-size: 13px; color: #4e4e4e; border-bottom: 0 none; background-color: #ccbea5;}
.family_site .wrapList {position: relative; overflow: hidden; width: 1020px; height: 56px; margin: 0 auto;}
.family_site .buttonWrap {position: relative; width: 1070px; margin:0 auto;}